@import "tailwindcss";
@import "@heroui/styles";

:root {
  --font-maple: 'Maple Mono CN', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  font-family: var(--font-maple) !important;
}


/* 色彩风格 */
html.color-grey {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

html.color-invert {
  filter: invert(80%);
  transition: filter 0.3s ease;
}

/* 所有 Google 风格标签：始终渲染伪元素 */
.tab-google::before,
.tab-google::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
}

.tab-google::before {
  left: -20px;
  background: radial-gradient(circle at 0 0, transparent 20px, hsl(var(--heroui-primary)) 21px);
}

.tab-google::after {
  right: -20px;
  background: radial-gradient(circle at 100% 0, transparent 20px, hsl(var(--heroui-primary)) 21px);
}

/* 激活时显示 */
.tab-google.tabs-google-theme-active::before,
.tab-google.tabs-google-theme-active::after {
  opacity: 1;
}

/* 修改滚动条样式 */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--heroui-primary)/.65);
  border-radius: 2.5px;
  transition: .35s background-color;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--heroui-primary)/.45);
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 暗黑模式过渡动画 */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}